/* RESET */
*{
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}



/* DEBUG RULES */
.container{
        padding: 10px;
}
.row{
    border:2px dashed black;
}
