/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}


/* LAYOUT STYLE */
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row.reverse{
flex-direction: row-reverse;
}
.col-1-6{
    width: calc(100%/6);
}
.col-1-3{
    width: calc(100%/3);
}
.col-2-3{
    width: calc((100%/3)*2);
}
.col-4-6{
    width: calc((100%/6)*4);
}
.col-25{
    width:25%;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.col-80{
    width: 80%;
}
.col-100{
    width: 100%;
}


/* BACKGROUND SECTION */
.bg-gray{
    background-color: lightslategray;
}
.bg-blu{
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-violet{
    background-color: violet;
}
.bg-lightblu{
    background-color: lightblue;
}
.bg-lightgray{
    background-color: lightgray;
}
.bg-green{
    background-color: green;
}
.bg-darkgray{
    background-color:rgb(58, 58, 58);
}
.bg-darkpink{
    background-color: palevioletred;
}
.bg-darkcyan{
    background-color: darkcyan;
}
.bg-cyan{
    background-color: cyan;
}
.bg-orange{
    background-color: orange;  
}


/* SPECIFIC HEADER STYLE */

.navbar{
    min-height: 30px;
}
.logo, .link, .login{
    display:flex;
    align-items: center;
}
.link{
    justify-content: center;
}
.login{
    justify-content:flex-end;
}


/* SPECIFIC MAIN STYLE */
.row.banner{
    justify-content: center;
}
.section.bg-blu{
    border-bottom: 2px solid gray;
}
.col-80.bg-violet, .col-30.bg-pink, .col-70.bg-lightblu, .col-100.bg-green{
    margin:20px 0px;
}
.col-80.bg-violet, .col-1-3.bg-darkpink, .col-25.bg-darkcyan{
    min-height: 300px;
}
.col-30.bg-pink,.col-70.bg-lightblu{
    min-height: 400px;
}
.col-100.bg-green{
    min-height: 500px;
}

/* SPECIFIC FOOTER STYLE */
.col-100.bg-cyan{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    min-height:30px;
}
.border{
    border-bottom: 2px  solid gray;
}
.button{
    max-width: 70px;
}
.mb20{
    margin-bottom: 20px;
}







/* DEBUG RULES */
.debug .container{
        padding: 10px;
}
.debug .column{
    border:2px dashed black;
    padding: 6px;
}
.debug .col-2-3{
    border:2px dashed black;
    padding: 0;
}
.debug .col-25.bg-darkcyan{
    border: 2px dashed white;
    }

