/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
/* LAYOUT STYLE */
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row.reverse{
flex-direction: row-reverse;
}
.col-1-6{
    width: calc(100%/6);
}
.col-4-6{
    width: calc((100%/6)*4);
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.col-80{
    width: 80%;
}
.col-100{
    width: 100%;
}

/* SPECIFIC STYLE */
.bg-gray{
    background-color: lightslategray;
}
.navbar{
    background-color: orange;
    min-height: 30px;
}
.logo, .link, .login{
    display:flex;
    align-items: center;
}
.link{
    justify-content: center;
}
.login{
    justify-content:flex-end;
}

/* Specific body style */
.row.banner{
    justify-content: center;
}
.bg-blu{
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-violet{
    background-color: violet;
}
.bg-lightblu{
    background-color: lightblue;
}
.bg-lightgray{
    background-color: lightgray;
}
.bg-green{
    background-color: green;
}
.col-80.bg-violet,.col-30.bg-pink,.col-70.bg-lightblu,.col-100.bg-green{
    margin: 20px 0;
}
.col-80.bg-violet{
    min-height: 300px;
}
.col-30.bg-pink,.col-70.bg-lightblu{
    min-height: 400px;
}
.col-100.bg-green{
    min-height: 500px;
}
.section.bg-blu{
    border-bottom: 2px solid gray;
}




/* DEBUG RULES */
.debug .container{
        padding: 10px;
}
.debug .debugcol{
    border:2px dashed black;
    padding: 6px;
}

